@media (max-width: 1200px) {
    .slider {
        .next {
            right: 50px;
        }

        .prev {
            left: 50px;
        }
    }
}

@media (max-width: 991px) {
    .advantages {
        &__wrapper {
            width: 100%;
        }
    }

    .catalog__content {
        justify-content: center;
    }

    .catalog-item {
        margin: 0 7px 20px 7px;
    }
}

@media (max-width: 767px) {
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin-top: 25px;

            &:nth-child(1) {
                margin-top: 0;
            }

            img {
                margin-bottom: 15px;
            }
        }

        &__title {
            margin-bottom: 15px;
        }
    }

    .header {
        &__logo {
            width: 170px;
        }

        &__phone {
            font-size: 16px;
        }

        &__official {
            font-size: 10px;

            span {
                font-size: 15px;
            }
        }
    }

    .slider {
        padding: 81px 7% 82px 7%;
    }

    .slider_inner {
        width: 100%;

        img {
            width: 60%;
        }
    }
}

@media (max-width: 575px) {
    .feed-form {
        width: 100%;
    }

    .title {
        font-size: 25px;
    }

    .header {
        &__logo {
            width: 200px;
        }

        &__contacts,
        &__official {
            display: none;
        }
    }

    .promo {
        &__header {
            font-size: 35px;
        }

        &__subheader {
            font-size: 18px;
            line-height: 20px;
        }

        &__icons {
            width: 100%;
            justify-content: center;
        }

        button {
            margin: 67px auto 0 auto;
        }
    }

    .consultation {
        padding: 50px 0 40px 0;

        &__descr {
            font-size: 15px;
            margin-top: 20px;
        }
    }

    .slider {
        display: none;
    }

    .catalog {
        margin-top: 20px;

        &__tab {
            width: auto;
            font-size: 14px;
            line-height: 23px;
        }

        &-item {
            &__price {
                font-size: 17px;
            }
        }
    }

    .reviews {
        &__img {
            display: none;
        }

        &__content {
            margin-left: 0;
        }

        &__client-text {
            text-align: justify;
        }
    }

    .footer {
        &__info {
            width: 100%;
            height: 200px;
            top: auto;
            padding: 10px 0;
        }

        &__phone {
            margin-top: 20px;
        }
    }
}